<template lang="">
  <div>MyGame</div><br>
  <OXTable />
</template>
<script>
import OXTable from '../components/OXTable.vue'
export default {
  components: {
    OXTable
  }
}
</script>
<style lang=""></style>
